appdirs==1.4.4
attrs==20.2.0
aws-cdk.assets==1.68.0
aws-cdk.aws-apigateway==1.68.0
aws-cdk.aws-applicationautoscaling==1.68.0
aws-cdk.aws-autoscaling==1.68.0
aws-cdk.aws-autoscaling-common==1.68.0
aws-cdk.aws-autoscaling-hooktargets==1.68.0
aws-cdk.aws-batch==1.68.0
aws-cdk.aws-certificatemanager==1.68.0
aws-cdk.aws-cloudformation==1.68.0
aws-cdk.aws-cloudfront==1.68.0
aws-cdk.aws-cloudwatch==1.68.0
aws-cdk.aws-codebuild==1.68.0
aws-cdk.aws-codecommit==1.68.0
aws-cdk.aws-codedeploy==1.68.0
aws-cdk.aws-codeguruprofiler==1.68.0
aws-cdk.aws-codepipeline==1.68.0
aws-cdk.aws-codepipeline-actions==1.68.0
aws-cdk.aws-cognito==1.68.0
aws-cdk.aws-dynamodb==1.68.0
aws-cdk.aws-ec2==1.68.0
aws-cdk.aws-ecr==1.68.0
aws-cdk.aws-ecr-assets==1.68.0
aws-cdk.aws-ecs==1.68.0
aws-cdk.aws-efs==1.68.0
aws-cdk.aws-elasticloadbalancing==1.68.0
aws-cdk.aws-elasticloadbalancingv2==1.68.0
aws-cdk.aws-events==1.68.0
aws-cdk.aws-events-targets==1.68.0
aws-cdk.aws-glue==1.68.0
aws-cdk.aws-iam==1.68.0
aws-cdk.aws-iot==1.68.0
aws-cdk.aws-iotanalytics==1.68.0
aws-cdk.aws-kinesis==1.68.0
aws-cdk.aws-kinesisfirehose==1.68.0
aws-cdk.aws-kms==1.68.0
aws-cdk.aws-lambda==1.68.0
aws-cdk.aws-lambda-event-sources==1.68.0
aws-cdk.aws-logs==1.68.0
aws-cdk.aws-route53==1.68.0
aws-cdk.aws-route53-targets==1.68.0
aws-cdk.aws-s3==1.68.0
aws-cdk.aws-s3-assets==1.68.0
aws-cdk.aws-s3-deployment==1.68.0
aws-cdk.aws-s3-notifications==1.68.0
aws-cdk.aws-sagemaker==1.68.0
aws-cdk.aws-sam==1.68.0
aws-cdk.aws-secretsmanager==1.68.0
aws-cdk.aws-servicecatalog==1.68.0
aws-cdk.aws-servicediscovery==1.68.0
aws-cdk.aws-sns==1.68.0
aws-cdk.aws-sns-subscriptions==1.68.0
aws-cdk.aws-sqs==1.68.0
aws-cdk.aws-ssm==1.68.0
aws-cdk.aws-stepfunctions==1.68.0
aws-cdk.aws-stepfunctions-tasks==1.68.0
aws-cdk.cdk-assets-schema==1.68.0
aws-cdk.cloud-assembly-schema==1.68.0
aws-cdk.core==1.68.0
aws-cdk.custom-resources==1.68.0
aws-cdk.cx-api==1.68.0
aws-cdk.pipelines==1.68.0
aws-cdk.region-info==1.68.0
black==20.8b1
boto3==1.15.18
botocore==1.18.18
cattrs==1.0.0
click==7.1.2
constructs==3.0.22
contextlib2==0.6.0.post1
docutils==0.16
entrypoints==0.3
flake8==3.8.4
importlib-metadata==2.0.0
Jinja2==2.11.2
jmespath==0.10.0
jsii==1.13.0
MarkupSafe==1.1.1
mccabe==0.6.1
multacdkrecipies==0.2.0.1
mypy-extensions==0.4.3
pathspec==0.8.0
publication==0.0.3
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
regex==2020.10.15
s3pypi==0.11.0
s3transfer==0.3.3
schema==0.7.3
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
zipp==3.3.1
