appdirs==1.4.3
attrs==19.3.0
aws-cdk.assets==1.30.0
aws-cdk.aws-apigateway==1.30.0
aws-cdk.aws-applicationautoscaling==1.30.0
aws-cdk.aws-autoscaling==1.30.0
aws-cdk.aws-autoscaling-common==1.30.0
aws-cdk.aws-autoscaling-hooktargets==1.30.0
aws-cdk.aws-batch==1.30.0
aws-cdk.aws-certificatemanager==1.30.0
aws-cdk.aws-cloudformation==1.30.0
aws-cdk.aws-cloudfront==1.30.0
aws-cdk.aws-cloudwatch==1.30.0
aws-cdk.aws-dynamodb==1.30.0
aws-cdk.aws-ec2==1.30.0
aws-cdk.aws-ecr==1.30.0
aws-cdk.aws-ecr-assets==1.30.0
aws-cdk.aws-ecs==1.30.0
aws-cdk.aws-elasticloadbalancing==1.30.0
aws-cdk.aws-elasticloadbalancingv2==1.30.0
aws-cdk.aws-events==1.30.0
aws-cdk.aws-glue==1.30.0
aws-cdk.aws-iam==1.30.0
aws-cdk.aws-iot==1.30.0
aws-cdk.aws-iotanalytics==1.30.0
aws-cdk.aws-kinesis==1.30.0
aws-cdk.aws-kms==1.30.0
aws-cdk.aws-lambda==1.30.0
aws-cdk.aws-lambda-event-sources==1.30.0
aws-cdk.aws-logs==1.30.0
aws-cdk.aws-route53==1.30.0
aws-cdk.aws-route53-targets==1.30.0
aws-cdk.aws-s3==1.30.0
aws-cdk.aws-s3-assets==1.30.0
aws-cdk.aws-s3-notifications==1.30.0
aws-cdk.aws-sagemaker==1.30.0
aws-cdk.aws-sam==1.30.0
aws-cdk.aws-secretsmanager==1.30.0
aws-cdk.aws-servicediscovery==1.30.0
aws-cdk.aws-sns==1.30.0
aws-cdk.aws-sns-subscriptions==1.30.0
aws-cdk.aws-sqs==1.30.0
aws-cdk.aws-ssm==1.30.0
aws-cdk.aws-stepfunctions==1.30.0
aws-cdk.aws-stepfunctions-tasks==1.30.0
aws-cdk.core==1.30.0
aws-cdk.custom-resources==1.30.0
aws-cdk.cx-api==1.30.0
aws-cdk.region-info==1.30.0
black==19.10b0
boto3==1.12.24
botocore==1.15.24
cattrs==1.0.0
click==7.1.1
constructs==1.1.2
contextlib2==0.5.5
docutils==0.16
entrypoints==0.3
flake8==3.7.9
Jinja2==2.11.1
jmespath==0.9.5
jsii==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
pathspec==0.7.0
publication==0.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.1
regex==2020.2.20
s3pypi==0.10.1
s3transfer==0.3.3
schema==0.7.1
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
